<div class="row mt-3">
    <div class="col-lg-6">
        <h3>Productos a solicitar</h3>
    </div>
    <div class="col-lg-6">
        <button type="button" class="btn btn-primary float-end">Agregar producto</button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">Codigo</th>
              <th scope="col">Descripción</th>
              <th scope="col">Precio con Iva</th>
              <th scope="col">Imagen</th>
              <th scope="col">Cantidad Solicitada</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">2110</th>
              <td>Det Top Ultra Limon 5000 g Saco x 4 Und</td>
              <td>$68.730</td>
              <td><img width="150" height="201" src="https://web.superboom.net/web/image/product.template/7676/image?unique=4c50189" class="img img-fluid product_detail_img" alt="Detergente Polvo Top Ultra Limon 2700Gr" data-zoom-image=""></td>
              <td><input type="number" id="tentacles" name="tentacles" min="0" max="100"></td>
            </tr>
            <tr>
              <th scope="row">2125</th>
              <td>Det Top Ultra Limon 2700 g Saco x 6 Und</td>
              <td>$58.812</td>
              <td><img width="150" height="201" src="https://web.superboom.net/web/image/product.template/7676/image?unique=4c50189" class="img img-fluid product_detail_img" alt="Detergente Polvo Top Ultra Limon 2700Gr" data-zoom-image=""></td>
              <td><input type="number" id="tentacles" name="tentacles" min="0" max="100"></td>
            </tr>
            <tr>
              <th scope="row">2135</th>
              <td>Det Top Ultra Limon 1000 g Saco x 20 Und</td>
              <td>$75.691</td>
              <td><img width="150" height="201" src="https://web.superboom.net/web/image/product.template/7676/image?unique=4c50189" class="img img-fluid product_detail_img" alt="Detergente Polvo Top Ultra Limon 2700Gr" data-zoom-image=""></td>
              <td><input type="number" id="tentacles" name="tentacles" min="0" max="100"></td>
            </tr>
          </tbody> 
      </table>
</div>
